  <%= link_to cocktails_path, class: "button-home" do %>
	  <i class="fas fa-cocktail">Home</i>
	<% end %>
  <div class="d-flex justify-content-around">
		<div class="cocktail-image-div d-flex justify-content-center align-items-center">
		  <img src="https://images.unsplash.com/photo-1578664182391-acdf392468a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" class="cocktail-image">
		</div>
		<div class="cocktail-description mb-5">
			<div class="container" style="padding: 0 10%;">
				<div class="d-flex justify-content-center">
					<div class="border-cocktail-title mt-5">
						<div class="uppertext-navbar"> 
							<p>Cocktail</p> 
						</div>
						<p> <%= @cocktail.name %> </p>
					</div>
				</div>
				<div class="card-cocktail-ingredients d-flex justify-content-center my-5">
					<div class="ingredient-list d-flex justify-content-center align-items-center text-center m-5">
						<ul>
							<h3> Recipe</h3>
							<% @cocktail.ingredients.order(:name).each do |ingredient| %> 
							<li> 
								<%= ingredient.name %> : <%= Dose.where(ingredient: ingredient, cocktail: @cocktail)[0].description %>
								<%= link_to edit_cocktail_dose_path(@cocktail, Dose.where(ingredient: ingredient, cocktail: @cocktail)[0]) do %>
								  <i class="icone-edit fas fa-edit"></i>
								<% end %>
								<%= link_to cocktail_dose_path(@cocktail, Dose.where(ingredient: ingredient, cocktail: @cocktail)[0]), method: :delete do %>
								  <i class="icone-delete far fa-trash-alt"></i>
								<% end %>
							</li>
							<% end %>
						</ul>
					</div>
				</div>

				<div class="d-flex justify-content-center">
					<div class="card">
						<div class="dose-title mt-3">
							<p>Add Ingredient</p>
						</div>
						<div class="m-3">
							<%= simple_form_for [@cocktail, @dose] do |f|%>
								<%= f.input :description %>
								<%= f.input :ingredient_id, collection: Ingredient.all.order(:name), input_html: { class: 'select2' } %>
								<div class="text-center">
									<%= f.submit "Submit", class: "button-purple-dose" %>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
